@import url("colors.css");

* {
    border: none;
    font-family: "Orbitron", "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-height: 0rem;
}

window#waybar {
    background: transparent;
    color: @on_primary_fixed;
    border-radius: 0.5rem;
}

tooltip {
  background: @background;
}

tooltip label {
  color: @onbackground;
}

#workspaces button {
    padding: 0.3rem 0.7rem; 
    margin: 1rem 0.3rem;
    border-radius: 0.5rem;
    background: @on_background;
    color: @on_primary;
    
}

#workspaces button:hover {
    border-bottom: 1px solid @on_background;
}

#workspaces button.active {
    border-bottom: 1px solid @on_background;
    background: @secondary;
    color: @on_secondary;
}

#window{
    padding: 3px 10px;
    margin: 4px;
}

#clock,
#battery,
#pulseaudio,
#network {
    padding: 0rem 1rem 0rem 1rem;
    margin: 0.7rem;
    border-radius: 0.5rem;
    background: @on_background;
    color: @on_primary;
}
 